@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix') format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7') format('svg');
}

#Calculator {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #232323;
  min-width: 340px;
  max-height: 500px;
  border-radius: 7px;
  padding: 15px 12px;

  #Section_i {
    display: grid;
    grid-template-columns: 260px;
    grid-template-rows: 90px 1fr;
    height: min-content;
    max-width: 320px;
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 5px 0px;
    background: #232323;
    border-radius: 7px;

    #Display {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: min-content;
      width: 100%;
      padding: 0px 7px 5px 12px;

      h3, h4 {
        display: flex;
        align-items: center;
        justify-content: right;
        height: 40px;
        width: 100%;
        padding: 5px 10px;
        background: #411557;
        color: #466c5a;
        letter-spacing: 2px;
        font-family: digital;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 200ms ease-out;

        span.space {
          padding: 0px 7px;

          i {
            display: inline-block;
            height: 10px;
            width: 5px;
          }
        }
      }

      h3.finalized {
        color: #28e590;
        transition: 200ms ease-in;
      }

      h4 {
        height: 30px;
        font-size: 18px;
        background: #280d36;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .context {
          display: flex;
          justify-content: right;
          width: 100%;
          overflow-x: scroll;
          overflow-y: hidden;
          color: #f4a784;
        }

        #delete_step {
          color: #FFF !important;
          transition: 200ms ease-out;
          padding-left: 10px;

          &:hover {
            cursor: pointer;
            color: #ac2038 !important;
            transition: 200ms ease-in;
          }
        }

        #delete_step.empty {
          color: #411557 !important;
          transition: 200ms ease-in;
        }
      }

      #display {
        // position: absolute;
        // z-index: -1;
        // height: 0%;
        // width: 0%;
        // opacity: 0%;
        // transform: scale(0.5);
        // margin: -10px 0px;
      }
       
      #display_alt, #operation_alt {
        display: none; //tempory
      }
    }
    
    #KeyPad {
      display: grid;
      grid-template-columns: repeat(4, 60px);
      grid-template-rows: repeat(5, 60px);
      align-self: center;
      align-content: center;
      justify-self: center;
      justify-items: center;
      grid-gap: 5px;
      height: 320px;
      width: 250px;

      .keypad_btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #626262;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        color: #FFF;
        font-family: "Saira", sans-serif;
        font-size: 30px;
        text-shadow: 1px 1px 8px #404040;
        transition: 200ms ease-out;
        
        &:hover {
          transition: 200ms ease-in;
          background: #525252;
          color: #EDBC28;
        }
      }

      .number.tapped {
        border: 5px solid #D8B755;
        text-shadow: 1px 1px 18px #404040;
        background: #EDBC28;
        font-size: 36px;
        color: #626262;
        transition: 200ms ease-in-out;
      }

      .method {
        background: #494949;
        
        &:hover {
          color: #28e590 !important;
        }
      }

      .method.tapped {
        border: 5px solid #389169;
        background: #22714e;
        font-size: 40px;
        color: #FFF;
        padding-bottom: 5px;
        transition: 200ms ease-in-out;
      }

      #decimal:hover {
        color: #409bf6 !important;
      }

      #decimal.tapped {
        border: 5px solid #2887e5;
        background: #2479ce;
        font-size: 40px;
        color: #FFF;
        transition: 200ms ease-in-out;
      }
      
      #clear {
        grid-column: 1/3;
        grid-row: 1/2;
        background: #8d3141;
        color: #FFF !important;

        &:hover {
          transition: 200ms ease-in;
          background: #ac2038;
        }
      }

      #equals {
        grid-column: 4/5;
        grid-row: 4/6;
        background: #c06e48;
        color: #FFF !important;
        font-size: 36px;
        font-weight: 600;
        
        &:hover {
          transition: 200ms ease-in;
          background: #e4703a;
        }
      }

      #zero {
        grid-column: 1/3;
        grid-row: 5/6;
      }
    }
  }

  #Section_ii {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 2px;
    width: 40px;
    margin-left: 12px;
    position: relative;
    transition: 450ms ease-out;

    .history_container {
      display: flex;
      flex-direction: column;
      height: inherit;
      width: 0%;
      max-height: 410px;
      overflow-x: hidden;
      overflow-y: scroll;
      // position: relative;
      transition: 450ms ease-out;

      .list_of_prv_operations {
        display: flex;
        flex-direction: column;
        height: inherit;
        width: 0%;
        opacity: 0%;
        transition: 250ms ease-out;
  
        .history_item:nth-child(odd) {
          background: #90b2b5;
        }

        .history_item:nth-child(even) {
          background: #93b6ad;
        }

        .history_item {
          display: block;
          height: min-content;
          opacity: 0%;
          width: 100%;
          padding: 5px;
          font-family: 'Courier New', Courier, monospace;
          color: #605499;
  
          p {
            display: block;
            width: 210px;
          }
  
          .transaction {
            color: #3c3c3c;
            font-family: monospace;
            font-size: small;
            font-weight: 400;
          }
  
          .item_ans, .item_opr {
            text-indent: 5px;
            padding: 1px 1px;
            font-weight: 700;
          }
  
          .item_ans {
            color: #126955;

            i {
              margin-right: 8px;
              opacity: 50%;
            }
          }
  
          .item_opr {
            color: #72521c;
            text-align: right;
            font-size: small;
          }
        }

        .notify {
          display: block;
          height: min-content;
          opacity: 0%;
          text-align: center;
          width: 100%;
          padding: 5px;
          font-family: "Victor Mono", monospace;
          font-size: 8px;
          color: #83a59c;
          transform: translateY(190px);
        }
      }

      #remove_history {
        cursor: pointer;
        display: inline-block;
        height: 0%;
        width: 0%;
        opacity: 0%;
        position: absolute;
        bottom: 10px !important;
        left: 8px !important;
        font-family: monospace;
        font-size: smaller;
        color: #afafaf;
        background: #3b3b3b;
        border: none;
        border-radius: 50px;
        border-bottom-left-radius: 10px;
        padding: 5px;
        transition: 250ms ease-out;
      }
    }

    label {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      min-height: 100%;
      height: 100%;
      width: 40px;
      background: #5a5a5a;
      font-family: "Victor Mono", monospace;
      color: #FFF;
      font-size: 12px;
      font-weight: 700;
      padding: 7px 2px;
      border-radius: 5px;
      border-left: 5px solid #7d7d7d;
      transition: 250ms ease-out;

      span {
        display: inline-block;
        text-transform: capitalize;
        opacity: 90%;
      }

      .fa-forward {
        font-size: 12px;
        opacity: 30%;
        transition: 500ms ease-in-out;
      }

      &:hover {
        background: #286262;
        border-left: 5px solid #afafaf;
        transition: 250ms ease-in;

        .fa-forward {
          opacity: 80%;
        }
      }
    }

    #history:checked + .history_container {
      width: 260px;
      background: #c5c5c5;
      transition: 450ms ease-in;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      .list_of_prv_operations {
        height: 100%;
        width: 100%;
        opacity: 100%;
        transition: 250ms ease-in;
      }

      .notify, .history_item {
        opacity: 100%;
      }

      #remove_history {
        display: block;
        height: 30px;
        width: 30px;
        opacity: 30%;
        transition: 250ms ease-in;

        &:hover {
          transition: 250ms ease-in;
          opacity: 100%;
          color: #FFF;
          background: #222;
        }
      }
    }
    
    #history:checked ~ label {
      background: #286262;
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      transition: 250ms ease-in;
    
      .fwd_i {
        transform: rotate(180deg);
        transition: 500ms ease-in;
      }

      .fwd_ii {
        transform: rotate(-180deg);
        transition: 500ms ease-in;
      }
    }
  }

  #Section_ii.extend {
    transition: 450ms ease-in;
    width: 265px;
    padding-right: 5px;
  }
}